{% extends 'pymeapp/index.html' %}

{% block "header_text_block" %}
<h1>¿Quienes somos?</h1>
{% endblock "header_text_block" %}



{% block "body_block" %}
    <h1>
        Laura Cardenas: <h3>Soy licenciada en protección y saneamiento ambiental y hace 7 años que trabajo
            evaluadora y auditoria ambiental en la dirección de minas e hidrocarburos.
        </h3>
    </h1>

    <h1>
        Julieta Sicre: <h3>Soy estudiante de ingeniería química y hace 4 años que trabajo en el upstream de YPF</h3>
    </h1>
    

    </h2>
{% endblock "body_block" %}