{% extends 'pymeapp/index.html' %}

{% block "header_block" %}
{% endblock "header_block" %}

{% block "body_block" %}

    <p>
        <a href={% url "crear_blog" %}>Volver</a>
    </p>
    <p>    
        {% if mas_datos.avatar %}
            <img src="{{mas_datos.avatar.url}}" alt="imagen de perfil">
        {% endif %}
    </p>
    <form action= {% url 'lista_blog' %} method="get" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.media}}
            {{form.as_table}}
        </table>
    </form>


    <p>
        <li>Titulo: {{object.titulo}}</li>
        <li>Subtitulo: {{object.subtitulo}}</li>
        <li>Cuerpo: {{object.cuerpo | safe }}</li>
        <li>Autor: {{object.autor}}</li>
        <li>Fecha: {{object.fecha_creacion | safe }}</li>
        <li>avatar: {{object.avatar}}</li>
        <p>    
            {% if mas_datos.avatar %}
                <img src="{{mas_datos.avatar.url}}" alt="imagen de perfil">
            {% endif %}
        </p>
    </p>

{% endblock "body_block" %}

