{% extends 'pymeapp/index.html' %}

{% block "header_block" %}
{% endblock "header_block" %}

{% block "body_block" %}

    <p>
        <a href={% url "lista_blog" %}>Volver</a>
    </p>
    {% comment "" %}<p>    
        {% if mas_datos.avatar %}
            <img src="{{mas_datos.avatar.url}}" alt="imagen de perfil">
        {% endif %}
    </p>
    <form action= {% url 'lista_blog' %} method="get" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.media}}
            {{form.as_table}}
        </table>
        <button>Cargar Blog</button>
    </form>
{% endcomment %}
{% comment "" %}<p>
    <p>
        <li>Titulo: {{object.titulo}}</li>
        <li>Subtitulo: {{object.subtitulo}}</li>
        <li>Cuerpo: {{object.cuerpo | safe }}</li>
        <li>Autor: {{object.autor}}</li>
        <li>Fecha: {{object.fecha_creacion | safe }}</li>
        <li>avatar: {{object.avatar}}</li>
        <p>    
            {% if mas_datos.avatar %}
                <img src="{{mas_datos.avatar.url}}" alt="imagen de perfil">
            {% endif %}
        </p>
    </p>
{% endcomment %}

    <form action="" method="get">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
    {% comment "" %}<input type="submit" value="Crear">{% endcomment %}
        <button>Buscar</button>
    </form>

    {% for Blog in Blogs %}
        <li>
           <a href= {% url 'detalle_blog' Blog.id %}>{{Blog}}</a>  |
           <a href= {% url 'editar_blog' Blog.id %}>Editar</a>  |
           <a href= {% url 'borrar_blog' Blog.id %}>Borrar</a>  
        </li>
    {% endfor %}

{% endblock "body_block" %}